// hover styles

%hover-box {
  background-color: $super-black;
  a {
    color: $super-white;

    &:hover {
      color: $super-red;
    }
  }
}

// link styles

%nav-style {
  background-color: $super-white;
  border: 1px solid $super-black;
  padding: .5em;
  margin-right: 1em;
}
