.title {
  h1 {
    font-size: 2.8em;
    margin-top: -.5em;
  }
  h2 {
  color: $white;
  -webkit-text-stroke: 1px $super-black;
  font-size: 2.8em;
  padding-top: 1em;
  }
  .studio {
    position: absolute;
    right: 5%;
    text-align: right;
  }
  .super {
    position: absolute;
  }
}

.post-header {
  h3 {
    text-align: right;
    margin-top: -.95em;
  }
}
