.post-header {
  h3 {
    text-align: right;
    margin-top: -.95em;
  }
}

.title {
  h1 {
    @include text(2.8em);
    margin-top: -.5em;

    @media #{$brk-medium}{
      font-size: 5em;
    }
  }
  h2 {
    @include text(2.8em, $color: $super-white);
    -webkit-text-stroke: 1px $super-black;
    padding-top: 1em;

    @media #{$brk-medium}{
      font-size: 5em;
    }
  }
  .studio {
    position: absolute;
    right: 5%;
    text-align: right;
  }
  .super {
    position: absolute;
  }

  @media #{$brk-medium}{
    margin-left: 7%;
  }
}
