.video-wrap {
	@include padding(25px 0 56.25% 0);
	position: relative;
	height: 0;
  iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

.post {
  h3 {
		@include padding(0 0 0 .5em);
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
	}

	@media #{$brk-medium}{
    width: 70%;
    float: left;
		margin-left: 7%;
  }
}

.post-header {
  h3 {
    text-align: right;
    color: $super-red;
    font-weight: normal;
		margin-top: -.7em;
  }

	@media #{$brk-medium}{
    margin-top: -8em;
  }
}

.post-footer {
  h3 {
    text-align: right;
    color: $super-red;
    margin-top: -.7em;
  }
  &:hover {
    cursor: pointer;
  }
}


.post-meta2 {
  table {
    margin-top: 1.2em;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: -1.2em;

  th {
  border: 1px solid $super-black;
  padding: 0.4rem;
  background-color: $super-black;
  color: $super-white;
  text-align: left;
  }

  td {
    border: 1px solid $black;
    padding: .4rem;
    background-color: $super-white;
  }
}

td {
  &:hover {
    @extend %hover-box;
  }
}
