*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@-ms-viewport{
  width: device-width;
}

body {
  background-image: url('../img/grid.jpg');
  background-repeat: repeat;
  font-family: $stack-helv;
}

a {
  text-decoration: none;
  color: $super-black;
  font-weight: bold;

  &:hover {
  color: $super-red;
}
}

ul {
  list-style: none;
}

hr {
  @include margin(20% 0 0 0);
  width: 80%;
  border: 1.5px solid $super-black;
}

p {
  background-color: $super-white;
  border: 1px solid $super-black;
  padding: 2em 1em 2em 2em;
  box-shadow: 4px 4px $super-black;
}
