// // colors
//
// $beige: #F4EFDE;
$black: #000;
$white: #fff;
$red: #FF3800;
//
// // Functional color variables
//
// $border: $black;
// $hover-nav: $grey;
// $hover-main: $beige;
//
//
// // Font stacks
//
$stack-helv: 'Helvetica', sans-serif;
//
// // Media query breakpoints
//
// $brk-small: '(min-width: 768px)';
// $brk-large: '(min-width: 1024px)';
