// // colors

$black: #000;
$white: #fff;
$red: #FF3800;

// // Functional color variables

// $border: $black;
// $hover-nav: $grey;
// $hover-main: $beige;


// // Font stacks

$stack-helv: 'Helvetica', sans-serif;

// // Media query breakpoints
//
$brk-medium: '(min-width: 751px)';
// $brk-large: '(min-width: 1024px)';
